<script setup lang="ts">
import { provide, ref } from 'vue';
import ReceiptDialog from './ReceiptDialog.vue';
import { useReceiptStore } from '@/stores/receipt';
import { usePaymentTypeStore } from '@/stores/paymentType';

const receiptStore = useReceiptStore()
const paymentTypeStore = usePaymentTypeStore()

const showReceipt = () => {
    receiptStore.confirmPayment()
}
</script>
<template>
    <div style="height: 100px; width: 100%;overflow: auto;">
        <v-container>
            <v-row align="center">
                <v-col cols="auto">
                    <v-btn color="primary" @click="paymentTypeStore.addPaymentType('เงินสด')">เงินสด</v-btn>
                </v-col>
                <v-col cols="auto">
                    <v-btn color="primary" @click="paymentTypeStore.addPaymentType('บัตรเครดิต')">บัตรเครดิต</v-btn>
                </v-col> 
                <v-col cols="auto">
                    <v-btn color="primary" @click="paymentTypeStore.addPaymentType('พร้อมเพย์')">พร้อมเพย์</v-btn>
                </v-col>
                <v-col col="auto" style="text-align: center;">
                    <div >
                        <v-btn 
                        density="compact" 
                        size="large" 
                        color="success"
                        @click="showReceipt()"
                        >ชำระเงิน</v-btn>
                    </div>
                    <div class="pa-2">
                        <v-btn 
                        density="compact" 
                        size="large"  
                        color="error"
                        @click="receiptStore.clearReceipt()"
                        >ยกเลิก</v-btn>
                    </div>
                    
                </v-col>
            </v-row>
        </v-container>
    </div>
    <ReceiptDialog></ReceiptDialog>
</template>