<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';

const receiptStore = useReceiptStore()
</script>
<template>
    <v-table>
        <thead style="background-color: #e28743;">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Price</th>
                <th>Unit</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
                <td>{{ index+1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price.toFixed(2) }}</td>
                <td>
                    <v-btn elevation="0" icon="mdi-minus-circle" density="compact" size="small" @click="receiptStore.decreaseItem(item)"></v-btn>
                    {{ item.unit }}
                    <v-btn elevation="0" icon="mdi-plus-circle" density="compact" size="small" @click="receiptStore.increaseItem(item)"></v-btn>
                </td>
                <td>{{ (item.unit * item.price).toFixed(2) }}</td>
                <td><v-btn elevation="0" density="compact" icon="mdi-delete" @click="
                    receiptStore.removeReceiptItem(item)
                "></v-btn>
                </td>
            </tr>
        </tbody>
    </v-table>
</template>