<script setup lang="ts">
import { type Ref, inject } from 'vue';

import { useReceiptStore } from '@/stores/receipt';

const receiptStore = useReceiptStore()

</script>
<template>
    <v-dialog
      v-model="receiptStore.receiptDialog"
      persistent
      width="auto"
    >
      <v-card>
        <v-card-title class="text-h5">
          สรุปใบเสร็จ
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="6">Id: {{ receiptStore.receipt?.id }}</v-col>
              <v-col cols="6">{{ receiptStore.receipt?.createdDate }}</v-col>
            </v-row>
            <v-row>
              <v-col cols="6">Id ลูกค้า: {{ receiptStore.receipt?.memberId }}</v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <th>Item</th>
                <div style="padding-top: 15px;">
                  <v-row cols="6" v-for="item of receiptStore.receiptItems" :key="item.id" style="padding: 10px;">
                    {{ item.name }}
                  </v-row>
                </div>
              </v-col>
              <v-col cols="3">
                <th>Unit</th>
                <div style="padding-top: 15px;">
                  <v-row cols="3" v-for="item of receiptStore.receiptItems" :key="item.id" style="padding: 10px;" >
                    {{ item.unit }}
                  </v-row>
                </div>
              </v-col>
              <v-col cols="3">
                <th>Price</th>
                <div style="padding-top: 15px;">
                  <v-row cols="3" v-for="item of receiptStore.receiptItems" :key="item.id" style="padding: 10px;">
                    {{ (item.price * item.unit).toFixed(2) }}
                  </v-row>
                </div>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">--------------------------------------------------------------------------</v-col>
            </v-row>
            <div>
              <v-row>
                <v-col cols="8" style="text-align: right;">ยอดรวมรายการ: </v-col>
                <v-col cols="3" style="text-align: right;">{{ receiptStore.receipt?.total.toFixed(2) }}</v-col>
              </v-row>          
            </div>
            <div>
              <v-row>
                <v-col cols="8" style="text-align: right;">ส่วนลด: </v-col>
                <v-col cols="3" style="text-align: right;">{{ receiptStore.receipt?.discount.toFixed(2) }}</v-col>
              </v-row>        
            </div>
            <div>
              <v-row>
                <v-col cols="8" style="text-align: right;">รวมทั้งหมด: </v-col>
                <v-col cols="3" style="text-align: right;">{{ receiptStore.receipt?.netAmount.toFixed(2) }}</v-col>
              </v-row>    
            </div>
          </v-container>
          
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="receiptStore.receiptDialog = false"
          >
            ปิด
          </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="() => { 
              receiptStore.receiptDialog = false
              receiptStore.clearReceipt() 
            }"
          >
            บันทึกใบเสร็จ
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>