<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt';

const receiptStore = useReceiptStore()
</script>
<template>
    <div style="padding: 10px">
    <v-container>
        <v-row no-gutters>
            <v-col cols="6">ยอดรวมรายการ</v-col>
            <v-col cols="6" style="text-align: right;">{{ receiptStore.receipt?.total.toFixed(2) }}</v-col>

            <v-col cols="6">ส่วนลด</v-col>
            <v-col cols="6" style="text-align: right;">{{ receiptStore.receipt?.discount.toFixed(2) }}</v-col>

            <v-col cols="6">ยอดรวมที่ต้องชำระ</v-col>
            <v-col cols="6" style="text-align: right;">{{ receiptStore.receipt?.netAmount.toFixed(2) }}</v-col>

            <v-col cols="6">วิธีการชำระเงิน</v-col>
            <v-col cols="6" style="text-align: right;">{{ receiptStore.receipt?.paymentType }}</v-col>
        </v-row>
    </v-container>
    </div>
</template>