<script setup lang="ts">
import { ref, nextTick } from 'vue';

import { type Product } from '@/types/Product';

import ProductList from '@/components/ProductList.vue';
import ReceiptDetailTable from '@/views/pos/components/ReceiptDetailTable.vue';
import ReceiptCard from '@/views/pos/components/ReceiptCard.vue';
import MemberCard from './components/MemberCard.vue';
import ButtonCard from './components/ButtonCard.vue';

import { useReceiptStore } from '@/stores/receipt';
import { useProductsStore } from '@/stores/products';

const receiptStore = useReceiptStore()
const productStore = useProductsStore()
const tab = ref(1)

const selected = function(p: Product) {
    console.log('ProductView' + p)
    receiptStore.addReceiptItem(p)
    nextTick(() => {
        if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
    })
}
const divReceiptItems = ref<HTMLElement | null>(null)

</script>
<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6" style="background-color: brown;">
            <v-container style="padding: 0;">

                <v-row>
                    <v-col cols="12">
                        <div ref="divReceiptItems" style="height: 320; overflow: auto;">
                        <v-sheet min-width="300" max-width="600" height="320" elevation="6">
                            
                            <ReceiptDetailTable></ReceiptDetailTable>
                            
                        </v-sheet>
                        </div>
                        
                    </v-col>
                    <v-col cols="12">
                        <v-sheet min-width="300" max-width="600" height="70" elevation="6">
                            <MemberCard></MemberCard>
                        </v-sheet>
                    </v-col>
                    <v-col cols="12">
                        <v-sheet min-width="300" max-width="600" height="140" elevation="6">
                            <ReceiptCard></ReceiptCard>
                        </v-sheet>
                    </v-col>
                    <v-col cols="12">
                        <div style="height: 100px; overflow: auto;">
                        <v-sheet min-width="300" max-width="600" height="100" elevation="6">
                            <ButtonCard></ButtonCard>
                        </v-sheet>
                        </div>
                    </v-col>
                </v-row>

            </v-container>
            </v-col>
            <v-col cols="12" md="6" style="background-color: #873e23;" >
                <v-sheet min-width="300" max-width="600" height="700" elevation="6">
                    <v-tabs
                        v-model="tab"
                        color="deep-purple-accent-4"
                        align-tabs="center"
                        style="background-color: #e28743;"
                    >
                        <v-tab :value="1">เครื่องดื่ม</v-tab>
                        <v-tab :value="2">ขนม</v-tab>
                        <v-tab :value="3">อาหาร</v-tab>
                    </v-tabs>
                    <v-window v-model="tab">
                    <v-window-item
                        :value="1"
                    >
                    <ProductList :products="productStore.products1" @selected-product="selected"></ProductList>
                    </v-window-item>
                    <v-window-item
                        :value="2"
                    >
                    <ProductList :products="productStore.products2" @selected-product="selected"></ProductList>
                    </v-window-item>
                    <v-window-item
                        :value="3"
                    >
                    <ProductList :products="productStore.products3" @selected-product="selected"></ProductList>
                    </v-window-item>
                    </v-window>
                </v-sheet>
            </v-col>
        </v-row>
    </v-container>
    
</template>
<style scoped>

</style>