<script setup lang="ts">
import { type Product } from '@/types/Product';

import ProductCard from '@/components/ProductCard.vue';

const props = defineProps<{
    products: Product[]
}>()
const emit = defineEmits<{
    selectedProduct: [Product]
}>()
const selected = function(product: Product) {
    console.log('ProductList' + product)
    emit('selectedProduct', product)
}
</script>
<template>
    <div style="height: 650px; overflow: auto;">
        <v-container>
            <v-row>
                <v-col cols="12" md="4" v-for="item of products" :key="item.id">
                    <ProductCard :product="item" @selectedProduct="selected"></ProductCard>
                </v-col>
            </v-row>
        </v-container>
    </div>
    
    
</template>